div {width: 800px;
  height: 450px;
  background-color: LemonChiffon;
  text-align: center;}
button-1 {background-color: black;
    color: white}
h1 {color: green;
  margin-top: 0;
  padding-top: 34px;}
p {font-family: serif;
  24px;}
