body {
  font-family: "Times New Roman", Georgia, Serif;
  background-color: #ffffe0;
  padding: 10px 20px 30px;
  /*display: block;*/
}
.banner {
  margin: 0;
  padding-top: 50px;
  padding-left: 20px;
  width: 100%;
  height: 140px;
  background-color: #970ef2;
  position: fixed;
}
.icon {
  height: 50px;
}
.button-1 {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 34px 17px 39px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 30px 0 10px;
  text-decoration: none;
}
.button-1:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #32d4e2;
  z-index: -1;
  transition: 0.25s ease;
  transform: translate(0, 0);
}
.button-1:hover:before {
  transform: translate(4px, 4px);
}
.button-2 {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 34px 17px 39px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 30px 0 10px;
  text-decoration: none;
}
.button-2:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #ff9999;
  z-index: -1;
  transition: 0.25s ease;
  transform: translate(0, 0);
}
.button-2:hover:before {
  transform: translate(4px, 4px);
}
.button-3 {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 34px 17px 39px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 30px 0 10px;
  text-decoration: none;
}
.button-3:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #ffe680;
  z-index: -1;
  transition: 0.25s ease;
  transform: translate(0, 0);
}
.button-3:hover:before {
  transform: translate(4px, 4px);
}
.button-4 {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 34px 17px 39px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 30px 0 10px;
  text-decoration: none;
}
.button-4:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #99e699;
  z-index: -1;
  transition: 0.25s ease;
  transform: translate(0, 0);
}
.button-4:hover:before {
  transform: translate(4px, 4px);
}
.button-5 {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 34px 17px 39px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 30px 0 10px;
  text-decoration: none;
}
.button-5:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #b3b3ff;
  z-index: -1;
  transition: 0.25s ease;
  transform: translate(0, 0);
}
.button-5:hover:before {
  transform: translate(4px, 4px);
}
.table {
  display: flex;
  grid-template-columns: 800px 200px;
}
.text {
  width: 100%;
  float: left;
  margin-right: 10px;
}
h1 {
  text-align: center;
}
h3 {
  text-transform: uppercase;
}
p {
  font-size: 18px;
  text-align: justify;
  margin: 0 0 40px 0;
}
.image {
  margin: 0px 50px 50px 50px;
  width: 200px;
  /*text-align: center;*/
  display: block;
}
.maru {
  font-style: italic;
  font-family: "Times New Roman", Georgia, Serif;
}
button {
  font-family: "Monaco", Georgia, Serif;
}
